@charset "UTF-8";


         @font-face {
             font-family: 'FonteLogo2';
             src: url("../_fonts/titilliumweb-regular.ttf");

         }

         @font-face {
           font-family: 'FonteLogo';
           src: url("../_fonts/bubblegum-sans-regular.otf");
         }



         body {
                  background-color: #dddddd;
				  font-family: arial, sans-serif;
                  color:        rgba(0,0,0,1);
         }

         p {
             text-align: justify;
             text-indent: 50px;
         }
		 
		 a {
			 color: #606060;
			 text-decoration: none;
		}
		 a:hover{
			 text-decoration: underline;
		 }
		

/* FOMATAÇAO DE INTERFACE*/
         div#interface{
             width:1100px;
             background-color: #ffffff;
             margin: -20px auto 0 auto;
             box-shadow: 0 0 10px rgba(0,0,0,.5);
             padding: 10px 10px 10px 10px ;

         }



/* FOMATAÇAO DO OCULOS NA INTERFACE*/

         header#cabecalho img#icone{
             position: absolute;
             left: 78%;
             top: 85px;
         }

/* CABEÇALHO NO INICIO DO SITE com imagem*/

         header#cabecalho{
            border-bottom:  1px #606060 solid;
             height: 150px;
             background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0 80px;
		}
		
		

/* CABEÇALHO OS 2 PRIMEIROS TITULOS*/

         header#cabecalho h1{
             font-family: 'FonteLogo', sans-serif;
             font-size: 30pt;
             color: rgba(0,0,0,.5);
             text-shadow: 1px 1px 1px rgba(0,0,0,.6);
             padding: 0;
             margin-bottom: 0;
         }

         header#cabecalho h2{
             font-family: 'FonteLogo2', sans-serif;
             color: #888888;
             font-size: 15pt;
             padding: 0;
             margin-top: 0;

         }



 /* FOMATAÇAO DE IMAGENS COM LEGENDAS*/
/*_imagens/glass-quadro-homem-mulher.jpg"*/

        figure.foto-legenda{
            position: relative;
            border: 8px solid white;
            box-shadow: 1px 1px 4px black;
        }

        figure.foto-legenda img{
          width: 100%;
          height: 100%;
        }

         figure.foto-legenda figcaption{
           opacity: 0;
           position: absolute;
           top: 0;
           background-color: rgba(0,0,0,.4);
           color: white;
           width: 100%;
           height:100%;
           padding: 10px;
           box-sizing: border-box;
             transition: opacity 1s;
         }

          figure.foto-legenda:hover figcaption{
              opacity: 1;
          }

/* FOMATAÇAO DE IMAGENS TERMINA LEGENDAS*/
/*_imagens/glass-quadro-homem-mulher.jpg"*/





/* fazer o menu ficar na posicao correta */
   nav#menu {
       display: block;

   }


/* FOMATACÃO DO MENU caxinhas de clicar*/

   nav#menu ul {
       list-style: none;
       text-transform: uppercase;
       position: absolute;
       top: -20px;
       left: 580px;

   }


/* FOMATACÃO DO MENU para ficar em cima do site na horizontal*/

   nav#menu li {
       display: inline-block;
       background-color: #dddddd;
       padding: 10px;
       margin: 2px;
       transition: backgroud-color 1s;

   }


/* ESCONDER O H1 DO MENU*/

   nav#menu h1{
    display: none;

   }


/* fazer efeito de 1s  H1 DO MENU*/

   nav#menu a:hover {
    color: #ffffff;
    transition: color 2s;
       text-decoration: underline;
   }
/* fazer efeito de mudar a cor quando passar o mouse */

   nav#menu li:hover{
       background-color: #606060;
   }

/* FOMATAR OS LINKS*/

   nav#menu a{
       color: black;
       text-decoration: none;
   }

/* CONFIGURAÇAO DA SECTION PRINCIPAL CORPO*/

   section#corpo{
       display: block;
       width: 600px;
       float: left;
	   border-right: 1px solid #606060;
	   padding-right: 20px;
   }
   
/* CONFIGURAÇÃO DO ARTICLE DA SEÇÃO */

article#noticia-principal h2{
	font-size: 13pt;
	color: #4A4444;
	background-color: #9F9898;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
	
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sana-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px.
		
}

.direita{
	text-align: right;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	backgroud-color: #ffffff;
	margin: 0px;	
}

header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
		
} 
/*  CONFIGURAÇÃO DA TABELA DO INDEX */
	table#tabelaspec {
		border: 1px solid #606060;
		border-spacing: 0px;
		margin-left: auto;
		margin-right: auto;
				
	}
	table#tabelaspec td {
		border: 1px solid #606060;
		padding: 10px;
		text-align: center;
		vertical-align: middle;
	}
	
	table#tabelaspec  td.ce {
		color: #ffffff;
		background-color: rgba(42, 44, 44, 0.9);
		vertical-align: top;
		font-weight: bold;
		text-align: right;
	}
	table#tabelaspec  td.cd{
		background-color: rgba(84, 98, 124, 0.9);	
		text-align: left;
		color: #ffffff;
	}
	table#tabelaspec caption {
		color: #888888;
		font-size: 15pt;
		font-weight: bolder;
	}
	
	table#tabelaspec caption span{
		display: block;
		float: right;
		color: black;
		font-size: 8pt;
		margin-top: 10px;
		
	}
	

/* CONFIGURAÇAO DA ASIDE LATERAL CORPO*/

   aside#lateral{
       display: block;
       width: 450px;
       float: right;
	   padding: 10px;
	   background-color: #dddddd;
	   margin-top: 10px; 
	   box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

   }
   
   aside#lateral h1{
		margin-top: 0px;
		font-family: 'FonteLogo', sans-serif; 
		font-size: 20pt;
		color: #606060;
   }
   
   aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
	}	   
	

/* CONFIGURAÇAO DA footer final CORPO*/

   footer#final{
	   display: block;
       clear: both;
	   border-top: 1px solid #606060;
	   	   
   }﻿
	footer#final p{
	  text-align: center;
	 
   }
   

/* CONFIGURAÇÃO DE VIDEO */
	video#filme1{
	display: block;
	position: relative;
	left:65px;
	top:-40px;
	width:475px;
	height: 400px;
	}
	
	video#filme2{
	display: block;
	position: relative;
	left:31px;
	top:0px;
	}









	