@charset "UTF-8";

div#tv-radio{
	width: 900px;
	height: 500px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica{
	display: block;
	position: relative;
	left: 575px; 
	top: 420px;
	width: 300px;
}

video#filme{
	display: block;
	position: relative;
	left:67px;
	top:-55px;
	width:475px;
	height: 400px;
}